h1,
h2,
h3,
h4 {
	font-family: Lato;
}
h1 {
	line-height: 1.2;
}
h3 {
	width: 100%;
	font-size: 1em;
}
figcaption {
	color: #eee;
	font-family: Helvetica;
	font-weight: 400;
	font-size: 0.76em;
	margin: 0.25em 0.5em 0.75em 0.5em;
}
figure {
	border: 1px solid #414954;
	margin-bottom: 1em;
	background: #414954;
}